<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% students.forEach(student => { %>
        <h1> <%= student.id %></h1>
        <h1> <%= student.name %></h1>
        <h1> <%= student.gmail %></h1>
        <img src="<%= student.image %>">

    <% }) %>
</body>
</html>